/************ CUSTOM PROPERTIES **************/
:root{
    --first-color: #d90062;
    --first-alpha-color: rgba(217, 0, 98, 0.75);
    --second-color: #162d54;
    --second-alpha-color: rgba(22, 45, 84, 0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80, 20, 100, 0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --gray-alpha-color: rgba(70, 70, 70, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Raleway", sans-serif;
    --max-width: 1400px;
    --header-height: 4rem;
}


/************ RESET **************/
  html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
  }
  
  a {
    color: var(--link-color);
    transition: all 0.5s ease-out;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.75;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-size: 0.7rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    line-height: 1.6;
  }



/************ MENU **************/

.menu {
  position:sticky;
  left: 0;
  bottom: var(--header-height);
  width: auto;
  display: flex;
  flex-direction: row;
  pointer-events: auto;
  transition: opacity 0.5s ease;
} 

.menu a {
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
}

.menu a:hover {
  color: var(--white-alpha-color);
}


/************ HEADER **************/

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0,5rem;
  height: var(--header-height);
  background-color: var(--second-color);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  font-weight: bold;
  min-width: 6rem;
  max-width: 10rem;
  margin-left: 1rem;
  
}

/* ********** HERO IMAGE ********** */
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 6vw;
  color: var(--white-color);
}



/************ UTILITIES **************/

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--second-color);
}

.center-height{
  margin:auto;
}

.double-col{
  padding: 3rem;
  margin: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content:space-between;
  align-content: center;
}

.double-col-footer{
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content:space-between;
  align-content: center;
  width: 100%;
}

.contact-card{
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--black-alpha-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}


.home-text{
  color:var(--white-color)
}

.intro-text{
  font-weight:bolder;
}

.section {
  padding: 2rem 1rem;
}


.footer{
  color:var(--white-color)
}

.footer-botom {
  position: flex;
  padding: 1rem;
  text-align: center;
  color: var(--white-color);
  background-color: var(--second-alpha-color);
}

.footer-title {
  border-top: thin solid var(--gray-color);
  border-bottom: thin solid var(--gray-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 30rem;
  text-align: center;
  color: var(--white-color);
}

.section-title {
  border-top: thin solid var(--second-color);
  border-bottom: thin solid var(--second-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  width: 30rem;
  text-align: center;
  color: var(--second-color);
}

.text-first-color {
  color: var(--first-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.section-intro{
  background-color: var(--white-alpha-color);
}

